<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/utils/pdfkit/assets/css/styles.css" />
</head>

<body>
  <div class="container flex-column" style="flex: 25% auto 25%">
    <!-- <img src="{{logo}}" alt="hhjhhkk" width="64px" />  -->

    <div class="flex flex-row align-center justify-center">
      <div class="flex flex-column" style="
            border: 1px solid black;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            justify-content: center;
            -webkit-justify-content: space-center;
            align-items: center;
            -webkit-align-items: center;
            text-align: center;
          ">
        <h1>{{company}}</h1>
      </div>
      <div class="flex flex-column align-center justify-center" style="
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            font-size: 32px;
            -webkit-box-flex: 3;
            -webkit-flex: 3;
            flex: 3;
            justify-content: center;
            -webkit-justify-content: space-center;
            align-items: center;
            -webkit-align-items: center;
            text-align: center;
          ">
        <p>Talonario de Pago</p>
      </div>
      <div class="flex flex-column align-center justify-center" style="
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            justify-content:center;
          ">
        <p style="font-size: 14px; font-weight: bold; text-align: center; margin: 0px; padding: 0px; ;">Periodo de Pago
        </p>
        <p style="margin: 0px; padding: 0px; text-align: center;">Inicio: {{start_date}}</p>
        <p style="margin: 0px; padding: 0px; text-align: center;">Final: {{end_date}}</p>
      </div>
    </div>

    <table style="width: 500px">
      <tr>
        {% for key in headings %}
        <th class="text-color-black">{{key}}</th>
        {% endfor %}
      </tr>

      {% for item in data %}
      <tr>
        {% for key, value in item.items() %}
        <td class="text-color-black">{{value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>